:root {
  /* Color */
  --color-bg: #353b43;
  --color-white: #fefefe;
  --color-blue: #347cbb;
  --color-yellow: #f5b522;
  --color-pink: #fc7377;
  --color-text: #030303;
  /* Font */
  --font-regular: 1.3rem;
  /* Size */
  --font-medium: 500;
  --font-bold: 700;
  /* Etc */
  --border-radius: 8px;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--color-bg);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  transition: transform 300ms ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-weight: var(--font-bold);
  font-size: 1.5rem;
  padding: 0.5em;
  margin: 0 0.3rem;
  border-radius: var(--border-radius);
  transition: transform 300ms ease;
}

.category button:hover {
  transform: rotate(10deg);
}

.img-btn img {
  display: block;
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.item-list {
  height: 50vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.item-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.list-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1em 2em;
  font-size: var(--font-regular);
  font-weight: var(--font-medium);
  text-align: left;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  transition: transform 300ms ease;
}

.list-item:hover {
  transform: scale(0.98);
}

.list-item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 1em;
}
